body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}